doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=gb2312")
		meta(name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图")
		link(href="/css/map.css", rel="stylesheet")
		script(type="text/javascript",src="http://api.map.baidu.com/api?key=&v=1.1&services=true")


	body
		div#dituContent(style="width:823px;height:463px;")

		script(src='/js/map.js')