include ./layout
if active=='走进兴创'
	include ./includes/tem1
if active=='服务项目'
	include ./includes/tem2
if active=='公司动态'
	include ./includes/tem5
if active=='兴创团队'
	include ./includes/tem7
if active=='企业文化'
	include ./includes/tem8
if dec == '版权所有' || dec == '网站地图'
	include ./includes/tem9
if active=='联系我们'
	include ./includes/tem10
